[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.4"
flask-cors = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
redis = "*"
requests = "*"
flask-script = "*"
flask-migrate = "==2.7.0"
pymysql = "*"
celery = "*"

[requires]
python_version = "3.9"
