[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
redis = "*"
requests = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
celery = "*"
apschaduler = "*"
apscheduler = "*"

[requires]
python_version = "3.7"
