[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
redis = "*"
requests = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
celery = "*"
loguru = "*"
shortuuid = "*"
apscheduler = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
